<html>
    <body>
        <p>Wielomian interpolacyjny metodą Neville'a.</p>
        <p>
  			Wypełnij poniższą formę, żeby wyliczyć wielomian interpolacyjny. <br>Przy podawaniu kolejnych punktów oddziel je spacją.
		</p>

		<form action="/form" method="post">
			Liczba punktów: 
  			<input type="text" name="numberofpoints">
  			<br>
  			Punkty X:
  			<input type="text" name="setofX">
  			<br>
  			Punkty Y:
  			<input type="text" name="setofY">
  			<br>
  			<input type="submit">
		</form>

    </body>
</html>