<!DOCTYPE html>
<html>
<head>
  <title>Neville method for interpolating polynomials</title>
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
</head>
<body>
  <nav class="navbar navbar-inverse">
    <div class="container">
      <div class="navbar-header">
      <button class="navbar-toggle collapsed" data-target=".navbar-collapse" data-toggle="collapse" type="button">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"/>
      <span class="icon-bar"/>
      <span class="icon-bar"/>
      </button>
        <a class="navbar-brand" href="/">Neville's Interpolating Polynomial</a>
      </div>
    <div class="navbar-collapse collapse">
    <!--/.nav-collapse -->
    </div>
  </nav>

  <div class="container">
    <div class="starter-template">
      <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
          <div class="panel panel-primary">
            <div class="panel-heading">
              <center><h3 class="panel-title">Wielomian interpolacyjny</h3></center>
            </div>
            <div class="panel-body">
              <p>Wypełnij poniższą formę, żeby wyliczyć wielomian interpolacyjny. 
              <br>Przy podawaniu kolejnych punktów oddziel je spacją.</p>
              <form id="inputForm" action="/form" method="post" class="form" role="form" data-toggle="validator">
                
                <div class="form-group">
                  <label for="inputNumOfPts" class="control-label">Liczba punktów:</label>
                  <div class="input-group">
                    <input type="text" class="form-control" id="inputNumOfPts" placeholder="3" required name="numberofpoints">
                  </div>
                </div>
                <div class="form-group">
                  <label for="inputSetOfX" class="control-label">Punkty X:</label>
                  <input type="text" name="setofX" pattern="^-?[0-9]+(\s-?[0-9]+)*$" class="form-control" id="inputSetOfX" placeholder="1 2 4" data-error="Nieprawidłowe dane" required>
                  <div class="help-block with-errors"></div>
                </div>
                <div class="form-group">
                  <label for="inputSetOfY" class="control-label">Punkty Y:</label>
                  <input type="text" name="setofY" pattern="^-?[0-9]+(\s-?[0-9]+)*$" class="form-control" id="inputSetOfY" placeholder="0 2 12" data-error="Nieprawidłowe dane" required>
                  <div class="help-block with-errors"></div>
                </div>
                <div class="form-group">
                  <input class="btn btn-success" type="submit" name="submitButton">
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="col-md-4"></div>
      </div>
    </div>
  </div>
  <footer class="footer">
	<div class="container">
	  <p class="text-muted"><center>Patryk Adamaszek, Radosław Niemczyk, Przemysław Wyszyński</center></p>
	</div>
  </footer>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
</body>
</html>